@define-color Rosewater #dc8a78;
@define-color Flamingo 	#dd7878;
@define-color Pink      #ea76cb;
@define-color Mauve     #8839ef;
@define-color Red       #d20f39;
@define-color Maroon    #e64553;
@define-color Peach     #fe640b;
@define-color Yellow    #df8e1d;
@define-color Green     #40a02b;
@define-color Teal      #179299;
@define-color Sky       #04a5e5;
@define-color Sapphire 	#209fb5;
@define-color Blue      #1e66f5;
@define-color Lavender 	#7287fd;
@define-color Text      #4c4f69;
@define-color Subtext1 	#5c5f77;
@define-color Subtext0 	#6c6f85;
@define-color Overlay2 	#7c7f93;
@define-color Overlay1 	#8c8fa1;
@define-color Overlay0 	#9ca0b0;
@define-color Surface2 	#acb0be;
@define-color Surface1 	#bcc0cc;
@define-color Surface0 	#ccd0da;
@define-color Base      #eff1f5;
@define-color Mantle    #e6e9ef;
@define-color Crust     #dce0e8;


@define-color bg-hover  @Surface0;

@define-color light-fg  @Text;
@define-color light-bg  @Base;
@define-color dark-fg   #cdd6f4;
@define-color dark-bg   #1e1e2e;

@define-color accent    @Lavender;
@define-color border    @Crust;


* {
	border: none;
	font-family: 'Fira Code', 'Symbols Nerd Font Mono';
	font-size: 16px;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
	color: @dark-fg;
	background: rgba(30, 30, 30, 0.1);
	border-radius: 20px;
}

.modules-left, .modules-right {
	padding: 0 15px;
}

#workspaces button {
	padding: 0 5px;
	color: @light-fg;
}

#workspaces button.active {
	color: @Flamingo;
}

#custom-add-workspace {
	padding-bottom: 6px;
	color: @Flamingo;
}

#workspaces, .modules-center, #tray {
	color: @light-fg;
	background: @light-bg;
	margin: 2px 15px;
	padding: 0 10px;
	border-radius: 20px;
}

#custom-clock-img {
	padding: 0 10px;
	border-radius: 20px;
	background-image: url("/home/taki/.config/waybar/clock.png");
	background-repeat: no-repeat;
	background-position: center;
}

#tray {
	margin-right: 0;
	margin-left: 5px;
}

#pulseaudio {
	color: @light-fg;
	background: @Flamingo;
	margin: 2px 15px;
	padding: 0 10px;
	border-radius: 20px;
}

#pulseaudio.source-muted {
	color: @light-fg;
	background: @light-bg;
}

#mpd {
	color: rgba(30, 30, 30, 0.5);
	margin-right: 30px;
}

#custom-minimize-button {
	margin-right: 15px;
	color: @dark-fg;
}

#custom-close-button {
	margin-right: 5px;
	color: @dark-fg;
}

#custom-power-menu {
	margin: 2px 0 2px 15px;
}

#custom-power-menu:hover {
	color: @Flamingo;
	margin: 2px 0 2px 15px;
}
